[Desktop Entry]
Encoding=UTF-8
Name=cryptobid Wallet
Comment=cryptobid wallet
Exec=cryptobidwallet %U
Terminal=false
Type=Application
Icon=bbscoin
MimeType=x-scheme-handler/bbscoin;
Categories=Office;Finance;
